$border-size: 5px solid black;

input {
  width: 100px;
  height: 100px;
  font-size: 90px;
}

.grid {
  display: inline-block;
  padding: 10px;
}

#row-one {
  margin-top: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-to {
  vertical-align: middle;
  line-height: 100%;
}

// Tic Tac Toe Grid
.v-bars {
  border-right: $border-size;
  border-left: $border-size;
}

.h-bars {
  border-top: $border-size;
  border-bottom: $border-size;
}

.box-1 {
  @extend .v-bars;
}

.box-3, .box-5 {
  @extend .h-bars;
}

.box-4 {
  @extend .v-bars, .h-bars
}

.box-7 {
  @extend .v-bars
}

#winner {
  color: green;
}
